.teamportfolio {
    width: 250px;
}
#navMain {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-family: 'Montserrat';
    color: white;
}
.playerportfolio {
    width: 400px;
}

.playerinformation {
    font-size: 20px;
    width: 100%;
    margin: 1rem 0;
    margin-top: 1rem;
    margin-right: 0px;
    margin-bottom: 1rem;
    margin-left: 0px;
}

.playersocial {
    display: block;
    padding-left: 2rem;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: .5rem;
    padding-top: .3rem;
}

.social_logo {
    width: 35px;
}
.nav_social_logo {
    width: 20px;
}
body {
    padding-top: 70px;
}
.video-wrapper-video-fill {
    position: absolute;
    width: 100%;
    padding-top: 70px;
}
.footer {
    background-color: #AE9F78;
}
.indexsponsor {
    background-color: yellow;
}
.sponsorenBilder {
    width: 200px;
    border: 1px;
}

.container > h2 {
    color: yellow;
}